.home {
  display: flex;
  justify-content: space-between;
  padding: calc(15 / 14.4 * 1vw);
  background-color: #f5f8fa;
  position: relative;
}

.homeLeft {
  display: flex;
  gap: calc(17 / 14.4 * 1vw);
  align-items: center;
}

.menuButton {
  width: calc(30 / 14.4 * 1vw);
  height: calc(30 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(5 / 14.4 * 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.menuButton > i {
  font-size: calc(14 / 14.4 * 1vw);
  color: rgb(89, 99, 110);
}

.logoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
}

.logoButton > i {
  font-size: calc(30 / 14.4 * 1vw);
}

.userTitle {
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  color: rgb(31, 35, 40);
  font-size: calc(14 / 14.4 * 1vw);
  line-height: calc(20 / 14.4 * 1vw);
}

.searchButton {
  display: flex;
  padding: calc(5 / 14.4 * 1vw) calc(7 / 14.4 * 1vw);
  height: 100%;
  background-color: inherit;
  border-radius: calc(8 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  align-items: center;
  justify-content: start;
  gap: calc(5 / 14.4 * 1vw);
  width: calc(280 / 14.4 * 1vw);
}

.searchButton > i {
  color: rgb(89, 99, 110);
  font-size: calc(14 / 14.4 * 1vw);
}

.searchButton > p {
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: calc(14 / 14.4 * 1vw);
  line-height: calc(20 / 14.4 * 1vw);
  color: rgb(89, 99, 110);
}

.searchButton > span {
  padding: calc(1 / 14.4 * 1vw) calc(6 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(3 / 14.4 * 1vw);
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: calc(12 / 14.4 * 1vw);
  line-height: calc(16 / 14.4 * 1vw);
  color: rgb(89, 99, 110);
}

.homeRight {
  display: flex;
  height: calc(30 / 14.4 * 1vw);
  gap: calc(10 / 14.4 * 1vw);
  align-items: center;
}

.copilot {
  width: calc(50 / 14.4 * 1vw);
  display: flex;
  height: 100%;
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(7 / 14.4 * 1vw);
  align-items: center;
  justify-content: center;
}

.copilot > button {
  width: 50% !important;
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copilotButton {
  border-right: calc(1 / 14.4 * 1vw) solid #d0d9e0 !important;
  height: 100%;
  border-top-left-radius: calc(7 / 14.4 * 1vw);
  border-bottom-left-radius: calc(7 / 14.4 * 1vw);
}

.copilotButton:hover {
  background-color: #eaedf0;
}

.copilot > p {
  height: 100%;
  width: calc(1 / 14.4 * 1vw);
  background-color: #d0d9e0;
}

.copilotButton > i {
  font-size: calc(14 / 14.4 * 1vw);
}

.arrowDown > div > svg {
  width: calc(15 / 14.4 * 1vw);
  height: calc(15 / 14.4 * 1vw);
}

.arrowDown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}

.arrowDown:hover {
  background-color: #eaedf0;
  border-top-right-radius: calc(7 / 14.4 * 1vw);
  border-bottom-right-radius: calc(7 / 14.4 * 1vw);
}

.plus {
  display: flex;
  width: calc(55 / 14.4 * 1vw);
  height: 100%;
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(7 / 14.4 * 1vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(8 / 14.4 * 1vw);
  background-color: inherit;
  position: relative;
}

.plus:hover {
  background-color: #eaedf0;
}

.plus:hover .plusInfo {
  display: flex;
}

.plusInfo {
  display: none;
  position: absolute;
  padding: calc(5 / 14.4 * 1vw);
  background-color: black;
  color: white;
  border: none;
  border-radius: calc(7 / 14.4 * 1vw);
  bottom: calc(-30 / 14.4 * 1vw);
  justify-content: center;
  align-items: center;
  gap: calc(5 / 14.4 * 1vw);
  right: calc(-10 / 14.4 * 1vw);
  z-index: 10;
}

.plus > i {
  font-size: calc(14 / 14.4 * 1vw);
  color: rgb(89, 99, 110);
}

.plus > div > svg {
  width: calc(18 / 14.4 * 1vw);
  height: calc(15 / 14.4 * 1vw);
}

.lineNavbar {
  width: calc(1 / 14.4 * 1vw);
  height: 70%;
  background-color: #d0d9e0;
}

.issues {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(30 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(7 / 14.4 * 1vw);
  padding: calc(5 / 14.4 * 1vw);
  background-color: inherit;
  position: relative;
}

.issues:hover {
  background-color: #eaedf0;
}

.issues:hover .issuesInfo {
  display: flex !important;
}

.issuesInfo {
  position: absolute;
  display: none !important;
  padding: calc(5 / 14.4 * 1vw);
  background-color: black;
  color: white;
  border: none;
  border-radius: calc(7 / 14.4 * 1vw);
  bottom: calc(-30 / 14.4 * 1vw);
  justify-content: center;
  align-items: center;
  gap: calc(5 / 14.4 * 1vw);
  right: calc(-10 / 14.4 * 1vw);
  z-index: 10;
}

.issues > p {
  width: calc(15 / 14.4 * 1vw);
  height: calc(15 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #767f88;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.issues > p > i {
  font-size: calc(3 / 14.4 * 1vw);
}

.pullRequests {
  width: calc(30 / 14.4 * 1vw);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(7 / 14.4 * 1vw);
  background-color: inherit;
  position: relative;
}

.pullRequests:hover {
  background-color: #eaedf0;
}

.pullRequests:hover .pullRequestsInfo {
  display: flex;
}

.pullRequestsInfo {
  position: absolute;
  display: none;
  padding: calc(5 / 14.4 * 1vw);
  background-color: black;
  color: white;
  border: none;
  border-radius: calc(7 / 14.4 * 1vw);
  bottom: calc(-35 / 14.4 * 1vw);
  justify-content: center;
  align-items: center;
  gap: calc(5 / 14.4 * 1vw);
  right: calc(-20 / 14.4 * 1vw);
  z-index: 10;
}

.pullRequests > i {
  color: #59636e;
  font-size: calc(14 / 14.4 * 1vw);
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(35 / 14.4 * 1vw);
  border-radius: 50%;
  background-color: inherit;
  height: 100%;
  border: none;
}

.profile > i {
  font-size: calc(30 / 14.4 * 1vw);
}

.arrowDown {
  position: relative;
}

.arrowDownInfo {
  display: none;
  position: absolute;
  padding: calc(5 / 14.4 * 1vw);
  background-color: black;
  color: white;
  border: none;
  border-radius: calc(7 / 14.4 * 1vw);
  bottom: calc(-33 / 14.4 * 1vw);
  justify-content: center;
  align-items: center;
  gap: calc(5 / 14.4 * 1vw);
}

.arrowDown:hover .arrowDownInfo {
  display: flex;
}

.arrowDown:hover .arrowDownInfo {
  display: flex;
  z-index: 11;
}

.onHoverInfo > span {
  font-family: var(--fontFamily);
  font-size: calc(12 / 14.4 * 1vw);
  line-height: calc(18 / 14.4 * 1vw);
}

.plusInfoFocus {
  display: none;
  flex-direction: column;
  border-radius: calc(15 / 14.4 * 1vw);
  background-color: white;
  border: calc(1 / 14.4 * 1vw) solid #9b9c9d;
  position: absolute;
  width: calc(180 / 14.4 * 1vw);
  bottom: calc(-250 / 14.4 * 1vw);
  padding: calc(10 / 14.4 * 1vw) 0;
  left: 0;
  transition: all 0.2s linear;
}

.plus:focus .plusInfoFocus {
  display: flex;
}

.plus:focus .plusInfo {
  display: none;
}

.plusInfoFocus > div {
  display: flex;
  gap: calc(10 / 14.4 * 1vw);
  align-items: center;
  padding: calc(5 / 14.4 * 1vw);
  margin: 0 calc(10 / 14.4 * 1vw);
  border-radius: calc(7 / 14.4 * 1vw);
}

.plusInfoFocus > div svg {
  width: calc(15 / 14.4 * 1vw);
  height: calc(15 / 14.4 * 1vw);
}

.plusInfoFocus > div > p {
  font-family: var(--fontFamily);
  font-size: calc(14 / 14.4 * 1vw);
  line-height: calc(20 / 14.4 * 1vw);
}

.linePlusInfoFocus {
  width: 100%;
  padding: 0 !important;
  height: calc(1 / 14.4 * 1vw);
  background-color: #dfe4e9;
  margin: calc(10 / 14.4 * 1vw) 0 !important;
}

.plusInfoFocus > div > i {
  font-size: calc(14 / 14.4 * 1vw);
  color: #59636e;
}
