.home {
  display: flex;
  justify-content: space-between;
  padding: calc(15 / 14.4 * 1vw);
  background-color: #f5f8fa;
  position: relative;
}

.homeLeft {
  display: flex;
  gap: calc(17 / 14.4 * 1vw);
  align-items: center;
}

.menuButton {
  width: calc(30 / 14.4 * 1vw);
  height: calc(30 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(5 / 14.4 * 1vw);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
}

.menuButton > i {
  font-size: calc(14 / 14.4 * 1vw);
  color: rgb(89, 99, 110);
}

.logoButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: inherit;
}

.logoButton > i {
  font-size: calc(30 / 14.4 * 1vw);
}

.userTitle {
  font-family: -apple-system, "system-ui", "Segoe UI", "Noto Sans", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  color: rgb(31, 35, 40);
  font-size: calc(14 / 14.4 * 1vw);
  line-height: calc(20 / 14.4 * 1vw);
}

.searchButton {
  display: flex;
  padding: calc(5 / 14.4 * 1vw) calc(7 / 14.4 * 1vw);
  height: 100%;
  background-color: inherit;
  border-radius: calc(8 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  align-items: center;
  justify-content: start;
  gap: calc(5 / 14.4 * 1vw);
  width: calc(280 / 14.4 * 1vw);
}

.searchButton > i {
  color: rgb(89, 99, 110);
  font-size: calc(14 / 14.4 * 1vw);
}

.searchButton > p {
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: calc(14 / 14.4 * 1vw);
  line-height: calc(20 / 14.4 * 1vw);
  color: rgb(89, 99, 110);
}

.searchButton > span {
  padding: calc(1 / 14.4 * 1vw) calc(6 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(3 / 14.4 * 1vw);
  font-family: var(--fontFamily);
  font-weight: 400;
  font-size: calc(12 / 14.4 * 1vw);
  line-height: calc(16 / 14.4 * 1vw);
  color: rgb(89, 99, 110);
}

.homeRight {
  display: flex;
  height: calc(30 / 14.4 * 1vw);
  gap: calc(10 / 14.4 * 1vw);
  align-items: center;
}

.copilot {
  width: calc(50 / 14.4 * 1vw);
  padding: 0 calc(5 / 14.4 * 1vw);
  display: flex;
  padding: calc();
  height: 100%;
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(7 / 14.4 * 1vw);
  justify-content: space-between;
  align-items: center;
}

.copilot > button {
  background-color: inherit;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.copilot > p {
  height: 100%;
  width: calc(1 / 14.4 * 1vw);
  background-color: #d0d9e0;
}

.copilotButton > i {
  font-size: calc(14 / 14.4 * 1vw);
}

.arrowDown > div > svg {
  width: calc(15 / 14.4 * 1vw);
  height: calc(15 / 14.4 * 1vw);
}

.plus {
  display: flex;
  width: calc(55 / 14.4 * 1vw);
  height: 100%;
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(7 / 14.4 * 1vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(8 / 14.4 * 1vw);
  background-color: inherit;
}

.plus > i {
  font-size: calc(14 / 14.4 * 1vw);
  color: rgb(89, 99, 110);
}

.plus > div > svg {
  width: calc(18 / 14.4 * 1vw);
  height: calc(15 / 14.4 * 1vw);
}

.lineNavbar {
  width: calc(1 / 14.4 * 1vw);
  height: 70%;
  background-color: #d0d9e0;
}

.issues {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: calc(30 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(7 / 14.4 * 1vw);
  padding: calc(5 / 14.4 * 1vw);
  background-color: inherit;
}

.issues > p {
  width: calc(15 / 14.4 * 1vw);
  height: calc(15 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #767f88;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.issues > p > i {
  font-size: calc(3 / 14.4 * 1vw);
}

.pullRequests {
  width: calc(30 / 14.4 * 1vw);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: calc(1 / 14.4 * 1vw) solid #d0d9e0;
  border-radius: calc(7 / 14.4 * 1vw);
  background-color: inherit;
}

.pullRequests > i {
  color: #59636e;
  font-size: calc(14 / 14.4 * 1vw);
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(35 / 14.4 * 1vw);
  border-radius: 50%;
  background-color: inherit;
  height: 100%;
  border: none;
}

.profile > i {
  font-size: calc(30 / 14.4 * 1vw);
}
