.viewAccount {
  position: absolute;
  top: 0;
  right: 0;
  width: 23vw;
  background-color: white;
  height: 100vh;
  border-top-left-radius: calc(15 / 14.4 * 1vw);
  border-bottom-left-radius: calc(15 / 14.4 * 1vw);
  flex-direction: column;
  padding: calc(15 / 14.4 * 1vw);
  animation: viewAccount 0.5s forwards;
}

@keyframes viewAccount {
  from {
    transform: translateX(30%);
  }
  to {
    transform: translateX(0%);
  }
}

.viewAccountTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewAccountTop > div {
  display: flex;
  gap: calc(10 / 14.4 * 1vw);
  align-items: center;
}

.viewAccountTop > div > img {
  width: calc(35 / 14.4 * 1vw);
  height: calc(35 / 14.4 * 1vw);
  border-radius: 50%;
}

.viewAccountTop > div > p {
  display: flex;
  flex-direction: column;
}

.viewAccountTop > div > p > span:first-child {
  font-size: calc(14 / 14.4 * 1vw);
  line-height: calc(19 / 14.4 * 1vw);
  color: rgb(31, 35, 40);
  font-weight: 600;
  font-family: var(--fontFamily);
}

.viewAccountTop > div > p > span:last-child {
  font-size: calc(14 / 14.4 * 1vw);
  line-height: calc(18 / 14.4 * 1vw);
  font-family: var(--fontFamily);
  color: rgb(89, 99, 110);
}

.viewAccountTop > div > button > i {
  color: #59636e;
  font-size: calc(14 / 14.4 * 1vw);
}

.viewAccountTop > div > button {
  padding: calc(8 / 14.4 * 1vw);
  border-radius: calc(6 / 14.4 * 1vw);
  border: none;
  background-color: inherit;
  position: relative;
}

.connectionDes {
  position: absolute;
  bottom: 0;
  padding: calc(3 / 14.4 * 1vw) calc(6 / 14.4 * 1vw);
  background-color: black;
  color: white;
  text-align: center;
  border-radius: calc(7 / 14.4 * 1vw);
  width: max-content;
  font-size: calc(12 / 14.4 * 1vw);
  line-height: calc(18 / 14.4 * 1vw);
  bottom: calc(-25 / 14.4 * 1vw);
  right: calc(-30 / 14.4 * 1vw);
  display: none;
}

.viewAccountTop > div > button {
  cursor: pointer;
}

.viewAccountTop > div svg {
  width: calc(16 / 14.4 * 1vw);
  height: calc(16 / 14.4 * 1vw);
}

.viewAccountTop > div > button:hover {
  background-color: #eaedf0;
}

.viewAccountTop > div > button:hover .connectionDes {
  display: flex;
}

.viewAccountWrapper {
  display: flex;
  flex-direction: column;
  margin-top: calc(20 / 14.4 * 1vw);
}

.viewAccountWrapper > a {
  display: flex;
  width: 100%;
  padding: calc(5 / 14.4 * 1vw);
  border-radius: calc(7 / 14.4 * 1vw);
  gap: calc(10 / 14.4 * 1vw);
  align-items: center;
}

.viewAccountWrapper > a:hover {
  background-color: #eaedf0;
}

.viewAccountWrapper > a svg {
  width: calc(17 / 14.4 * 1vw);
  height: calc(17 / 14.4 * 1vw);
}

.viewAccountWrapper > a > p {
  font-size: calc(14 / 14.4 * 1vw);
  line-height: calc(20 / 14.4 * 1vw);
  color: #1f2328;
  font-family: var(--fontFamily);
}

.viewAccountWrapper > a > i {
  width: calc(17 / 14.4 * 1vw);
  font-size: calc(16 / 14.4 * 1vw);
  color: #636d77;
}

.viewAccountLine {
  width: 100%;
  height: calc(1 / 14.4 * 1vw);
  background-color: #dfe4e9;
  margin: calc(7 / 14.4 * 1vw) 0;
}

.viewAccountPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewAccountPrice > div > p {
  font-size: calc(14 / 14.4 * 1vw);
  line-height: calc(20 / 14.4 * 1vw);
  color: #1f2328;
  font-family: var(--fontFamily);
}

.viewAccountPrice > p {
  padding: 0 calc(7 / 14.4 * 1vw);
  border: calc(1 / 14.4 * 1vw) solid #404348;
  border-radius: calc(10 / 14.4 * 1vw);
  font-size: calc(12 / 14.4 * 1vw) !important;
  line-height: calc(19 / 14.4 * 1vw) !important;
  font-family: var(--fontFamily);
  font-weight: 500;
  color: #404348;
}

.viewAccountPrice > div {
  display: flex;
  gap: calc(10 / 14.4 * 1vw);
  align-items: center;
}

.viewAccountPrice > div > i {
  width: calc(17 / 14.4 * 1vw);
  font-size: calc(15 / 14.4 * 1vw);
  color: #636d77;
}

.viewAccountPrice > div svg {
  width: calc(17 / 14.4 * 1vw);
  height: calc(17 / 14.4 * 1vw);
}

.futurePreview > p {
  border-color: #0968da;
  color: #0968da !important;
}
